@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

@layer base{
  @font-face {
    font-family: "InstrumentSans";
    src: url("../assets/fonts/InstrumentSans-VariableFont_wdth,wght.ttf");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "GameOverCre";
    src: url("../assets/fonts/gameovercre1 2.ttf");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "GeistMono";
    src: url("../assets/fonts/GeistMono-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_opsz,wght.ttf");
    font-style: normal;
    font-weight: normal;
  }
  body{
    @apply text-sm font-Instrument font-normal text-dirty-white bg-light-black bg-grid bg-repeat bg-[size:24px_24px]
  }

  #root{
    @apply max-w-[1350px] mx-auto px-4 lg:px-0 bg-dark-black min-h-screen
  }

}

@layer utilities{
  .heading-1{
    @apply text-3xl lg:text-6xl font-Instrument font-medium text-light-white leading-10 lg:leading-[73px]
  }

  .heading-2{
    @apply text-2xl lg:text-4xl font-Instrument font-medium text-light-white
  }

  .heading-3{
    @apply text-lg font-Instrument font-normal  text-dirty-white
  }

  .heading-4{
    @apply text-sm font-Instrument font-normal  text-dirty-white
  }

  .consola-1{
    @apply text-sm font-Geist font-normal text-commands-gray
  }

  .consola-2{
    @apply text-sm font-Geist font-normal text-white tracking-wide
  }

  .paragraph{
    @apply text-base lg:text-lg font-Instrument font-normal text-dirty-white
  }

  .line{
    @apply w-screen h-[1px] bg-commands-gray
  }
}

/* Desarrollador Full-stack apasionado, con experiencia en el diseño e implementación de soluciones funcionales utilizando Laravel y React. Mi objetivo es colaborar en un equipo dinámico, aplicando metodologías ágiles para mantener y mejorar aplicaciones back-end con PHP y front-end con JavaScript. Soy un colaborador proactivo, con habilidades analíticas y de liderazgo, enfocado en implementar metodologías ágiles para entregar proyectos de alta calidad. Pretendo formar parte de un equipo innovador , con el objetivo de contribuir al desarrollo de software inteligente y escalable, con un enfoque en aplicaciones que utilicen inteligencia artificial. */



