

.pill{
  backdrop-filter: blur(7px);
  box-shadow: inset 0 0 1px rgb(232 232 237/11%);
  background-color: rgb(66 66 69/70%);
  border-radius: 32px;
  transition: linear 250ms background-color;
  height: 56px;
  width: 200px;
}

